.sectionsNav {
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: #1976d2 1px solid;
}

.sectionsNav .viewLesson {
    width: 15%;
    border-radius: 0px;
    text-transform: none;
}

.sectionsNav .viewLesson .iconCsss {
    margin: 0px 5px;
}

.sectionsNav .emptySpace {
    width: 40%;
    padding: 5px;
}

.sectionsNav .exerciseInfo {
    width: 15%;
    display: flex;
    border-left: #1976d2 1px solid;
}

.sectionsNav .exerciseInfo .exerciseInfo1st {
    width: 45%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.sectionsNav .exerciseInfo .exerciseInfo2nd {
    width: 25%;
}

.sectionsNav .exerciseInfo .exerciseInfo3rd {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.sectionsNav .exerciseInfo .exerciseSelect {
    width: 50px;
}

.sectionsNav .exerciseNavigation, .sectionsNav .shareFeedback {
    width: 15%;
    border-radius: 0px;
    text-transform: none;
}

.completeExerciseAction {
    background-color: rgb(102, 187, 106) !important;
    color: white !important;
}