.zoneHead {
    display: flex;
    width: 100%;
}

.emptySpace {
    width: 25%;
}

.zoneTitle {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 50%;
}

.zoneButton {
    width: 25%;
    padding: 10px 10% 10px 0px;
}

.zoneButton a {
    width: 100%;
}

.zoneButton button {
    width: 100%;
    height: 45px;
}

#home {
    width: 82%;
    margin: 0% 9%;
}

.zones {
    width: 100%;
}

.zone {
    max-width: 100%;
    height: 250px;
    background: black;
    margin-top: 10px;
}

.zoneContent {
    text-align: justify;
    padding: 0% 10%;
    color: white;
    font-size: 18px;
    height: 150px;
}

.zone .card-body, .completed .btn {
    width: 100%;
}

.zone .card-title {
    position: relative;
    width: 80%;
}

.zone .card-text {
    position: relative;
    width: 100%;
}

.zone .completed, .zone .locked {
    display: inline-flex;
}

.locked .btn {
    width: 20%;
}

#segmentInfo {
    padding: 10px 0px;
    height: 340px;
    display: flex;
    background-color: black;
}

#segmentInfo #infoText {
    width: 50%;
    color: white;
    padding: 50px;
    font-size: 20px;
}

#segmentInfo #infoVideo {
    width: 50%;
}